<?xml version="1.0" encoding="utf-8"?>
<Configuration Version="1.0" Language="PowerShell">
	<Parameters>
		<Parameter Name="apiroot" DisplayText="JAMF Pro URL" Type="text" IsMandatory="true" />
		<Parameter Name="username" DisplayText="User Name" Type="text" IsMandatory="true" />
		<Parameter Name="password" DisplayText="Password" Type="password" IsMandatory="true" />
		<Parameter Name="hardwareSearch" DisplayText="Hardware Search Name" Type="text" IsMandatory="true" />
		<Parameter Name="softwareSearch" DisplayText="Software Search Name" Type="text" IsMandatory="true" />
	</Parameters>
	<InitScripts>
	   <InitScript Name="Logic.ps1" />
	</InitScripts>
	<VersionCheck Language="PowerShell" Method="Get-Version">
		<Parameter Name="apiroot" Variable="apiroot" />
		<Parameter Name="username" Variable="username" />
		<Parameter Name="password" Variable="password" />
	</VersionCheck>
	<Readers>
		<Reader FileName="Computer.xml" ProcedureName="Computer" />
	</Readers>
</Configuration>